<div class="full-container">
    <div class="content-left header">
        <div class="icon font-content">
            <img class="icon-image" src="img/siteicon.svg" width="100%"/>
            <div class="icon-slogan">
                <h6>渴</h6><h6>望</h6><h6>重</h6><h6>回</h6><h6>土</h6><h6>地</h6>
            </div>
            <div class="icon-button">
                <button type="button" class="btn btn-primary button-follow" [routerLink]="['/about']">什么是「浪潮」？</button>
            </div>
        </div>
    </div>
    <div class="content-right">
        <div class="events-container font-content">
            <h4 style="margin-bottom: 1rem">最新事件</h4>
            <div class="event card" *ngFor="let event of eventCollection">
                <a class="no-decoration" [routerLink]="['/event/' + event._id]">
                    <div class="card-img-top event-image" [style.background-image]="'url(' + (event.ImageUrl || (Global.cdn + 'default.png')) + ')'" ></div>
                    <div class="card-block event-title-block">
                        <h4 class="card-title event-title">{{event.Title}}</h4>
                        <div class="event-static">
                            <span class="tag tag-primary tag-margin">{{event.News.length}} 条相关新闻</span>
                            <span class="tag tag-success">{{event.Subscriber.length}} 人关注</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
