<div class="event card" *ngFor="let event of eventCollection; let i = index">
    <a class="no-decoration" [routerLink]="['/event/' + event._id]">
        <div class="card-img-top event-image" [style.background-image]="'url(' + (event.ImageUrl || (Global.cdn + 'default.png')) + ')'" ></div>
        <div class="card-block event-title-block">
            <h4 class="card-title event-title">{{event.Title}}</h4>
            <div class="event-static">
                <span class="tag tag-primary tag-margin">{{event.News.length}} 条相关新闻</span>
                <span class="tag tag-success">{{event.Subscriber.length}} 人关注</span>
            </div>
        </div>
    </a>
</div>