.header {
    background: #999999 url("img/pixels.png") repeat;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: white;
    font-size: 4rem;
}

.title {
    margin: 0;
    padding: 3rem 1rem 3rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
    width: 100%
}

.tags-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 45rem;
    margin: 1rem;
}

.tags {
    width: 49%;
    min-width: 10rem;
    max-width: 22rem;
}

.tags:hover {
    background-color: rgba(0,0,0,.04);
}

.tag-title {
    color: black;
    margin: 0;
}

.tag-static {
    display: flex;
    justify-content: flex-end;
    margin-top: .5rem;
}

.tag-margin {
    margin-right: .25rem;
}
