.button-bottom {
    position: relative;
    left: 3rem;
}

.button-share {
    position: relative;
    right: 3rem;
    color: #666666 !important;
}

.icon-source:hover {
    color: #014c8c !important;
}

.icon-trash:hover {
    color: #333333 !important;
}

.news-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
}

.news:hover {
    background-color: rgba(0,0,0,.04);
}

.verify {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.btn-outline-primary {
    max-width: 100%;
}

.file-input {
    max-width: 100%;
}

@media (max-width: 768px) {
    .center {
        justify-content: initial;
    }
}
