<div class="full-container admin-container center">
    <div class="page-container admin-pages-container font-content">
        <tabset>
            <tab heading="添加事件"
                [active]="tab.addEvent.active"
                (select)="tab.addEvent.active = true"
                (deselect)="tab.addEvent.active = false">
                <div class="single-page admin-pages">
                    <h2 class="font-title">添加事件</h2>
                    <div class="form-group row">
                        <label class="col-xs-3 col-md-2 col-form-label">事件名</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="create.title" class="form-control" type="text" placeholder="事件名" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-3 col-md-2 col-form-label">首条新闻</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="create.news" class="form-control" [class.ng-invalid-control]="!(create.news ? (Validation.Url.test(create.news) || Validation.EventID.test(create.news)) : 1)" type="text" placeholder="新闻链接">
                        </div>
                    </div>
                    <div class="submit">
                        <button (click)="createEvent(create.title, create.news)" type="button" class="btn btn-primary"
                            [disabled]="!(create.title && (add.url ? (Validation.Url.test(create.news) || Validation.EventID.test(create.news)) : 1))">
                            添加
                        </button>
                    </div>
                </div>
            </tab>
            <tab heading="添加新闻"
                [active]="tab.addNews.active"
                (select)="tab.addNews.active = true"
                (deselect)="tab.addNews.active = false">
                <div class="single-page admin-pages font-content">
                    <h2 class="font-title">添加新闻至事件</h2>
                    <div class="form-group row">
                        <label class="col-xs-3 col-md-2 col-form-label">事件</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="add.id" class="form-control" [class.ng-invalid-control]="!add.id" type="text" placeholder="事件名或代号" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-3 col-md-2 col-form-label">新闻</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="add.url" class="form-control" [class.ng-invalid-control]="!(Validation.Url.test(add.url) || Validation.EventID.test(add.url))" type="text" placeholder="新闻链接或代号" required>
                        </div>
                    </div>
                    <div class="submit">
                        <button (click)="addNews(add.id, add.url)" type="button" class="btn btn-primary"
                            [disabled]="!(add.id && (Validation.Url.test(add.url) || Validation.EventID.test(add.url)))">
                            添加
                        </button>
                    </div>
                </div>
            </tab>
            <tab heading="上传标题图"
                [active]="tab.uploadImage.active"
                (select)="tab.uploadImage.active = true"
                (deselect)="tab.uploadImage.active = false">
                <div class="single-page admin-pages font-content">
                    <h2 class="font-title">上传事件标题图</h2>
                    <div class="form-group row">
                        <label for="eventId" class="col-xs-3 col-md-2 col-form-label">事件</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="uploadImage.id" class="form-control" [class.ng-invalid-control]="!uploadImage.id" type="text" placeholder="事件名或代号" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-xs-3 col-md-2 col-form-label">上传图片</label>
                        <div class="col-xs-9 col-md-10">
                            <button class="btn btn-outline-primary" type="button" required>
                                <input id="image" type="file" class="file-input" accept="image/gif, image/jpeg, image/png">
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newsUrl" class="col-xs-3 col-md-2 col-form-label">图片来源</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="uploadImage.source" class="form-control" type="text" placeholder="如：新华社、新京报、CNN" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newsUrl" class="col-xs-3 col-md-2 col-form-label">图片地址</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="uploadImage.url" class="form-control" [class.ng-invalid-control]="!Validation.Url.test(uploadImage.url)" type="text" placeholder="如：http://xinhuanet.com/.../xxx.jpg" required>
                        </div>
                    </div>
                    <div class="submit">
                        <button (click)="upload(uploadImage.id, uploadImage.source, uploadImage.url)" type="button"
                            class="btn btn-primary" [disabled]="!(uploadImage.id && Validation.Url.test(uploadImage.url) && uploadImage.source)">
                            添加
                        </button>
                    </div>
                </div>
            </tab>
            <tab heading="审核新闻"
                [active]="tab.verifyNews.active"
                (select)="tab.verifyNews.active = true"
                (deselect)="tab.verifyNews.active = false">
                <div class="single-page admin-pages">
                    <h2 class="font-title">审核新闻</h2>
                    <div class="form-group row">
                        <label for="eventTitle" class="col-xs-3 col-md-2 col-form-label">事件</label>
                        <div class="col-xs-9 col-md-10">
                            <input [(ngModel)]="verify.id" class="form-control"
                                [class.ng-invalid-control]="!verify.id" type="text" placeholder="事件名或代号" required>
                        </div>
                    </div>
                    <div class="submit">
                        <button (click)="1" type="button" class="btn btn-primary" [disabled]="!Validation.EventID.test(verify.id)">
                            查看该事件的待审核新闻
                        </button>
                    </div>
                </div>
                <div class="card card-block news" *ngFor="let news of queue; let i = index">
                    <small class="text-muted">来源：{{news.News.Source}} 提交者：{{news.Queue.Submitter.toString()}}</small>
                    <a [routerLink]="['/event/' + news.Event._id]" class="no-decoration">
                        <small class="text-muted">事件：{{news.Event.Title}}</small>
                    </a>
                    <a href="{{news.News.Url}}" [name]="news._id" class="news-title no-decoration" target="_blank"><h4 class="card-title font-title">{{news.News.Title}}</h4></a>
                    <p *ngIf="news.Abstract" class="card-text font-content">{{news.News.Abstract}}</p>
                    <div class="news-bottom">
                        <a class="text-muted font-content">{{getTime(news.News.Time)}}</a>
                        <div class="button-bottom">
                            <a href="{{news.News.Url}}" tooltipPlacement="bottom" tooltip="跳转至原文"
                                class="fa fa-external-link no-decoration button-share icon-source" aria-hidden="true" target="_blank"></a>
                        </div>
                    </div>
                    <div class="verify">
                        <button type="button" (click)="rejectNews(news.Event._id, news.News._id, i)" class="btn btn-danger btn-sm button-follow">拒绝</button>
                        <button type="button" (click)="addNews(news.Event._id, news.News._id, i)" class="btn btn-primary btn-sm button-follow">通过</button>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
