<div class="full-container admin-container center">
    <div class="page-container admin-pages-container font-content">
        <tabset>
            <tab heading="添加事件"
                [active]="tab.addEvent.active"
                (select)="tab.addEvent.active = true"
                (deselect)="tab.addEvent.active = false">
                <div class="single-page admin-pages">
                    <h2 class="font-title">添加事件</h2>
                    <div class="form-group row">
                        <label for="eventTitle" class="col-xs-2 col-form-label">事件名</label>
                        <div class="col-xs-10">
                            <input [(ngModel)]="create.title" class="form-control" type="text" placeholder="事件名" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="eventNews" class="col-xs-2 col-form-label">首条新闻</label>
                        <div class="col-xs-10">
                            <input [(ngModel)]="create.news" class="form-control" type="text" placeholder="选填">
                        </div>
                    </div>
                    <div class="submit">
                        <button (click)="createEvent(create.title, create.news)" type="button" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </tab>
            <tab heading="添加新闻"
                [active]="tab.addNews.active"
                (select)="tab.addNews.active = true"
                (deselect)="tab.addNews.active = false">
                <div class="single-page admin-pages font-content">
                    <h2 class="font-title">添加新闻至事件</h2>
                    <div class="form-group row">
                        <label for="eventId" class="col-xs-2 col-form-label">事件代号</label>
                        <div class="col-xs-10">
                            <input [(ngModel)]="add.id" class="form-control" type="text" placeholder="事件代号" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newsUrl" class="col-xs-2 col-form-label">新闻链接</label>
                        <div class="col-xs-10">
                            <input [(ngModel)]="add.url" class="form-control" type="text" placeholder="新闻链接" required>
                        </div>
                    </div>
                    <div class="submit">
                        <button (click)="addNews(add.id, add.url)" type="button" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </tab>
            <tab heading="上传标题图"
                [active]="tab.uploadImage.active"
                (select)="tab.uploadImage.active = true"
                (deselect)="tab.uploadImage.active = false">
                <div class="single-page admin-pages font-content">
                    <h2 class="font-title">上传事件标题图</h2>
                    <div class="form-group row">
                        <label for="eventId" class="col-xs-2 col-form-label">事件代号</label>
                        <div class="col-xs-10">
                            <input [(ngModel)]="uploadImage.id" class="form-control" type="text" placeholder="事件代号" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-xs-2 col-form-label">上传图片</label>
                        <div class="col-xs-10">
                            <button class="btn btn-outline-primary" type="button" required>
                                <input id="image" type="file" class="file-input" accept="image/gif, image/jpeg, image/png">
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newsUrl" class="col-xs-2 col-form-label">图片来源</label>
                        <div class="col-xs-10">
                            <input [(ngModel)]="uploadImage.source" class="form-control" type="text" placeholder="如：新华社、新京报、CNN" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newsUrl" class="col-xs-2 col-form-label">图片地址</label>
                        <div class="col-xs-10">
                            <input [(ngModel)]="uploadImage.url" class="form-control" type="text" placeholder="如：http://xinhuanet.com/.../xxx.jpg" required>
                        </div>
                    </div>
                    <div class="submit">
                        <button (click)="upload(uploadImage.id, uploadImage.source, uploadImage.url)" type="button" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>