.header {
    background: #999999 url("img/pixels.png") repeat;
    padding: 3rem 1rem;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 0 #31708f;
    font-size: 4rem;
}

.setting-page {
    display: initial;
}

.setting-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}