<div class="full-container">
    <div class="content-left header font-content">
        <p class="tag-title">{{tag.Title}}</p>
    </div>
    <div class="content-right">
        <div class="events-container font-content">
            <h4 style="margin-bottom: 1rem; font-weight: bold">具有标签“{{tag.Title}}”的事件</h4>
            <div class="event card" *ngFor="let event of tag.Events">
                <a class="no-decoration" [routerLink]="['/event/' + event.Title]">
                    <div class="card-img-top event-image" [style.background-image]="'url(' + (event.ImageUrl || '') + ')'" ></div>
                    <div class="card-block event-title-block">
                        <h4 class="card-title event-title">{{event.Title}}</h4>
                        <div class="event-static">
                            <span class="tag tag-primary tag-margin">{{event.News.length}} 条相关新闻</span>
                            <span class="tag tag-success">{{event.Subscriber[0]}} 人关注</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
