// styles applied on :host are applied on the current component, "app" in this case

.for-phone {
    display: flex;
    flex-direction: column;
}

.for-desktop {
    display: flex;
    flex-direction: row;
}

.desktop-navbar {
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 100vh;
    background-color: #555555;
}

.content {
    width: 100%;
}

.tab {
    width: 4rem;
    height: 4rem;
    padding: .4rem;
    display: flex;
    align-items: center;
}

.tab:hover {
    background-color: rgb(0, 160, 200);
}

.tab-active {
    background-color: rgba(0, 180, 250, .5)
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// .left {
//     height: auto;
//     min-height: 100vh;
// }

// .guide {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     width: inherit;
//     height: 100vh;
//     background-color: #00549e;
//     padding: 1rem;
// }

// .site {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     color: white;
//     padding: 3rem 1rem 2rem 1rem;
//     width: 100%;
// }

// .site-icon {
//     width: 80%;
// }

// .site-slogan {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     padding-top: 1rem;
//     width: 100%;
// }

// .tab {
//     display: flex;
//     width: 100%;
//     padding: 0rem 1rem 0rem 1rem;
//     border-top: .1rem solid rgba(2, 117, 216, .5);
//     text-decoration: none;
// }

// .tab:last-child {
//     border-bottom: .1rem solid rgba(2, 117, 216, .5);
//     margin-bottom: 2rem;
// }

// .tab:hover {
//     background-color: rgba(2, 117, 216, .5);
// }

// .tab-active {
//     background-color: rgba(2, 117, 216, .5);
// }

// .tab-link {
//     color: white !important;
//     padding: .8rem .5rem .8rem 0rem;
// }

// .tab-link:link {
//     text-decoration: none;
// }

// .guide-footer {
//     position: absolute;
//     bottom: 1rem;
//     color: white !important;
// }

// .content {
//     padding: 0rem;
// }
