// styles applied on :host are applied on the current component, "app" in this case

.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    height: 100vh;
    background-color: #00549e;
    padding: 0rem;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 4rem 2rem 2rem 2rem;
    width: 100%;
}

.site-icon {
    width: 80%;
}

.site-slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
}

.tab {
    display: flex;
    width: 100%;
    padding: 0rem 1rem 0rem 1rem;
    border-top: .1rem solid rgba(2, 117, 216, .5);
}

.tab:last-child {
    border-bottom: .1rem solid rgba(2, 117, 216, .5);
    margin-bottom: 2rem;
}

.tab:hover {
    background-color: rgba(2, 117, 216, .5);
}

.tab-active {
    background-color: rgba(2, 117, 216, .5);
}

.tab-link {
    color: white !important;
    text-decoration: none !important;
    padding: .8rem .5rem .8rem 0rem;
}

.tab-link:link {
    text-decoration: none;
}

.content {
    position: absolute;
    right: 0px;
    padding: 0rem;
}