<link rel="stylesheet" href="/bootstrap.min.css">

<!--<div [hidden]="!isHidden" style="display: flex; width: 100%; height: 100vh; justify-content: center; align-items: center; flex-direction: column">
    <canvas width=100 height=100 class="loading" id="loading"></canvas>
    <a>Processing...</a>
</div>-->
<!--<div [hidden]="isHidden">-->
    <div class="phone-navbar"></div>
    <div class="for-desktop">
        <div class="desktop-navbar">
            <a routerLink="/"><img src="img/siteicon.svg" class="tab"/></a>
            <!--<div class="tab">-->
                <a *ngFor="let tab of tabs" 
                    [routerLink]="tab.link" 
                    class="tab"
                    routerLinkActive="tab-active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i [class]="tab.icon"></i><span class="visuallyhidden">Home </span>
                </a>
            <!--</div>-->
            <div class="tab-bottom">
                <a *ngFor="let tab of tabsBottom" 
                    [routerLink]="tab.link" 
                    class="tab"
                    routerLinkActive="tab-active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a [class]="tab.link"></a>
                </a>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!--<div class="overall">
        <div class="col-sm-3 left">
            <div class="guide">
                <div class="site">
                    <img class="site-icon" src="img/siteicon.svg"/>
                    <div class="site-slogan font-content">
                        <h6>渴</h6><h6>望</h6><h6>重</h6><h6>回</h6><h6>土</h6><h6>地</h6>
                    </div>
                </div>
                <div class="fluid-width font-title">
                    <a *ngFor="let tab of tabs" 
                        [routerLink]="tab.link" 
                        class="tab"
                        routerLinkActive="tab-active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <a class="tab-link">{{tab.title}}</a>
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary">限定日期</button>
                    <button type="button" class="btn btn-secondary">限定信息源</button>
                </div>
                <a class="guide-footer">
                    求你别用手机打开
                </a>
            </div>
        </div>
        <div class="col-sm-9 content">
            <router-outlet></router-outlet>
        </div>
    </div>-->
<!--</div>-->
