.header-title {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 1rem #555;
}

.header-info {
    padding: 3rem 1rem 1rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
    width: 100%
}

.header-share {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.tag-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: opacity .5s;
}

.tag {
    padding: .5rem;
    margin-left: .25rem;
    margin-top: .25rem;
    border: 1px solid #bcdff1;
    background-color: #d9edf7;
    color: #31708f !important;
    border-radius: .25rem;
    transition: background-color .2s, color .2s, border .2s;
}

.tag:hover {
    background-color: #31708f;
    color: #ffffff !important;
    border: 1px solid #31708f;
}

.header-image-source {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black !important;
    text-decoration: none !important;
    width: 1rem;
}

.timeline {
    max-width: 40rem;
    margin-top: 1rem;
    width: 100%;
}

.news {
    width: 100%;
}

.news-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news:hover {
    background-color: rgba(0,0,0,.04);
}

.follow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(192, 222, 237, .9);
    border-top: rgba(192,222,237,1) solid;
    justify-content: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.follow-close {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: .625rem;
    right: 1rem;
}

.follow-span {
    align-self: center;
}

.follow-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-follow {
    font-size: 1rem;
    margin: .25rem;
}

.button-share {
    color: #666666 !important;
    margin: .25rem;
}

.button-share-white {
    color: #ffffff !important;
    margin: .25rem;
}

.button-setting {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #666666 !important;
}

.button-setting:hover {
    color: #111111 !important;
}

.icon-weibo:hover {
    color: red !important;
}

.icon-twitter:hover {
    color: #4099ff !important;
}

.icon-source:hover {
    color: #014c8c !important;
}

.icon-trash:hover {
    color: #333333 !important;
}

.event-container {
    background-color: transparent;
}

.event-page-container {
    max-width: 40rem;
}

.event-page {
    max-width: 40rem;
    min-height: 0;
    margin: 1rem 0;
}

.subscribe-option-set {
    display: flex;
    flex-direction: column;
}

.subscribe-option {
    margin: .1rem;
}

h4 {
    transition: color .2s;
}

@media (min-width: 768px) {
    .event-header {
        padding: 1rem;
    }

    .header-info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 3rem 1rem 4rem 1rem;
        top: auto;
    }

    .header-image-source {
        top: auto;
    }

    .follow {
        top: 1rem;
        bottom: auto;
        right: 1rem;
        left: auto;
        width: auto;
        background-color: transparent;
        border-top: none;
        justify-content: initial;
        flex-direction: row;
        padding: 0;
    }

    .follow-close {
        display: none;
    }

    .follow-span {
        display: none;
    }

    .follow-or {
        display: none;
    }

    .follow-button {
        display: flex !important;
    }

    .button-bottom {
        position: relative;
        left: 3rem;
    }

    .button-share {
        position: relative;
        right: 3rem;
    }
}
