<div class="full-container">
    <div class="content-left event-header" [style.background-image]="'url(' + event.image.url + ')'">
        <a class="header-image-source" [href]="event.image.news" target="_blank"
            tooltipPlacement="left"
            tooltip="imageSource">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
        <div class="header-info">
            <h1 class="font-title header-title">{{event.title}}</h1>
            <div class="tag-set">
                <a class="tag" *ngFor="let tag of event.tag">{{tag}}</a>
            </div>
        </div>
    </div>
    <div class="content-right">
        <div class="timeline">
            <div class="card card-block news" *ngFor="let news of collections">
                <a href="{{news.Url}}" class="news-title no-decoration" target="_blank"><h4 class="card-title font-title">{{news.Title}}</h4></a>
                <p *ngIf="news.Abstract" class="card-text font-content">{{news.Abstract}}</p>
                <div class="news-bottom">
                    <a class="text-muted font-content">{{news.Time}}</a>
                    <a href="{{news.Url}}" title="跳转至原文" class="fa fa-external-link no-decoration" aria-hidden="true" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="follow">
            <button *ngIf="event.follower.length > 0" type="button" class="btn btn-info btn-sm button-follow">已有{{event.follower.length}}人关注该事件</button>
            <button type="button" class="btn btn-primary btn-sm button-follow">关注</button>
        </div>
        <a class="button-setting"><i class="fa fa-cog"></i></a>
    </div>
</div>
