.event-header {
    padding: 1rem;
}

.header-title {
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 0 #31708f;
}

.tag-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    padding: .5rem;
    margin-left: .25rem;
    margin-top: .25rem;
    border: 1px solid #bcdff1;
    background-color: #d9edf7;
    color: #31708f !important;
    border-radius: .25rem;
}

.header-image-source {
    position: absolute;
    right: 1rem;
    color: black !important;
    text-decoration: none !important;
    width: 1rem;
}

.timeline {
    max-width: 40rem;
    margin-top: 1rem;
    width: 100%;
}

.news {
    width: 100%;
}

.news-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.news:hover {
    background-color: rgba(0,0,0,.04);
}

.follow {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: .5rem;
    right: 1rem;
    z-index: 100;
}

.button-follow {
    margin-left: .25rem;
    font-size: 1rem;
}

.button-share {
    color: #666666 !important;
}

.button-setting {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #666666 !important;
}

.button-setting:hover {
    color: #111111 !important;
}

.icon-weibo:hover {
    color: red !important;
}

.icon-twitter:hover {
    color: #4099ff !important;
}

.icon-source:hover {
    color: #014c8c !important;
}

.icon-trash:hover {
    color: #333333 !important;
}

.event-container {
    background-color: transparent;
}

.event-page-container {
    max-width: 40rem;
}

.event-page {
    max-width: 40rem;
    min-height: 0;
    margin: 1rem 0;
}

.subscribe-option-set {
    display: flex;
    flex-direction: column;
}

.subscribe-option {
    margin: .1rem;
}

@media (min-width: 768px) {
    .header-info {
        position: absolute;
        bottom: 4rem;
        top: initial;
    }

    .follow {
        top: 1rem;
        bottom: initial;
    }

    .button-bottom {
        position: relative;
        left: 3rem;
    }

    .button-share {
        position: relative;
        right: 3rem;
    }
}