<div class="full-container center">
    <div class="page-container admin-pages-container font-content">
        <div class="single-page admin-pages">
            <h2 class="font-title">注册账户</h2>
            <div class="form-group row">
                <label for="username" class="col-xs-2 col-form-label">用户名</label>
                <div class="col-xs-10">
                    <input [(ngModel)]="username" class="form-control" type="text" required placeholder="仅限 5-20 位英文字符及数字">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-xs-2 col-form-label">邮箱</label>
                <div class="col-xs-10">
                    <input [(ngModel)]="email" class="form-control" type="email" required placeholder="contact@langchao.land">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-xs-2 col-form-label">密码</label>
                <div class="col-xs-10">
                    <input [(ngModel)]="password" class="form-control" type="password" required placeholder="仅限 6-32 位英文字符、数字及常用特殊字符">
                </div>
            </div>
            <div class="submit">
                <button (click)="register()" type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</div>